= javascript_include_tag 'https://ajax.googleapis.com/ajax/libs/jquery/1.4.3/jquery.min.js'
= javascript_include_tag 'https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.1/jquery-ui.min.js'
= javascript_include_tag '/javascripts/jquery/jquery.lightbox-0.5.min.js'
= javascript_include_tag '/javascripts/jquery/jquery.lightbox-0.5.js'
= javascript_include_tag :all
= render 'layouts/cufon'
:javascript
  Cufon.now(); 